.btn_actualizar{
background-image: url(../img/btn_actualizar.png);
width: 30px;
height: 30px;
cursor:pointer;
float:left;
}

.btn_eliminar{
background-image: url(../img/btn_eliminar.png);
width: 30px;
height: 30px;
cursor:pointer;
float:left;
}

.grupoCampos input.regular-text {
    width: 100%;
}
@media screen and (max-width: 782px) {

/*
#fs_cuerpo{
	width:100%;
}

#menu a{
	display:none;
}

#fs_menu, #menu{
	width:10%;
}

#fs_menu:hover{
	width:45%;
}


#fs_menu:hover #menu{
	width:100%;
}

#fs_menu:hover #menu a{
	display:block;
}




#tr_menu:hover, #menu:hover a{
	width:45%;
	display:block;
}
*/

.grupoCampos {
    box-sizing: border-box;
	width:100%;
}

.tituloCelda{
	text-align:cente;
}

.grupoCampos td, .grupoCampos th {
    display: block;
    vertical-align: middle;
    width: auto;
}
.grupoCampos .color-palette td {
    display: table-cell;
    width: 15px;
}
/*
.grupoCampos table.color-palette {
    margin-right: 10px;
}
*/

.grupoCampos textarea, .grupoCampos span.description, .grupoCampos td input[type="password"], .grupoCampos td input[type="text"], .grupoCampos td select, .grupoCampos td textarea {
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    max-width: none;
    padding: 7px 10px;
    width: 100%;
}


.grupoCampos input.small-text[type="text"], input.small-text[type="number"], input.small-text[type="password"], input.small-text[type="search"], input.small-text[type="text"] {
    display: inline;
    margin: 0 3px;
    max-width: 55px;
    padding: 3px 6px;
    width: auto;
}

/*
.grupoCampos span.description {
    line-height: 1.4em;
    padding: 4px 0 0;
}
*/
.grupoCampos th .tituloCelda{
    border-bottom: 0 none;
    padding-bottom: 0;
    padding-top: 10px;
	text-align:center;
}
.grupoCampos td {
    padding-left: 0;
    padding-top: 8px;
}
.grupoCampos input.regular-text {
    width: 100%;
}
.grupoCampos label {
    font-size: 14px;
}
.grupoCampos fieldset label {
    display: block;
}

}









    .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
		width:20%;
		display: inline !important;
	}
	.actions .btn{
		width:36%;
		margin:1.5em 0;
	}
	
	.actions .btn-info{
		float:left;
	}
	.actions .btn-danger{
		float:right;
	}
	
	table#cart thead { display: none; }
	table#cart tbody td { display: block; padding: .6rem; min-width:180px;}
	table#cart tbody tr td:first-child { background: #333; color: #fff; }
	table#cart tbody td:before {
		content: attr(data-th); font-weight: bold;
		display: inline-block; width: 8rem;
	}
	
	
	
	table#cart tfoot td{display:block; }
	table#cart tfoot td .btn{display:block;}
	
}