<!-- Sample menu definition -->
<ul id="Menu1" class="MM">
  <li><a href="http://www.smartmenus.org/">Home</a></li>
  <li><a href="http://www.smartmenus.org/about/">About</a>
    <ul>
      <li><a href="http://www.smartmenus.org/about/introduction/">Introduction to SmartMenus</a></li>
      <li><a href="http://www.smartmenus.org/about/compatibility/">Browser compatibility</a></li>
      <li><a href="http://vadikom.com/about/#vasil-dinkov">The author</a></li>
      <li><a href="http://www.smartmenus.org/about/promote/">SmartMenus buttons</a></li>
      <li><a href="http://www.smartmenus.org/archive/">Older archived versions</a></li>
    </ul>
  </li>
  <li><a href="http://www.smartmenus.org/samples6/">Online Samples</a></li>
  <li><a href="http://www.smartmenus.org/download/">Download</a></li>
  <li><a href="http://www.smartmenus.org/license/">Licensing</a>
    <ul>
      <li><a href="http://www.smartmenus.org/license/types/">License</a></li>
      <li><a href="http://www.smartmenus.org/license/purchase/">Purchase</a></li>
      <li><a href="http://www.smartmenus.org/license/eula/">EULA</a></li>
    </ul>
  </li>
  <li><a href="http://www.smartmenus.org/support/">Support</a>
    <ul>
      <li><a href="http://www.smartmenus.org/support/email/">Direct email support</a></li>
      <li><a href="http://www.smartmenus.org/forum/">Forum</a></li>
      <li><a href="http://www.smartmenus.org/support/manual/">User's Manual</a></li>
    </ul>
  </li>
  <li><a href="http://vadikom.com/">Company</a>
    <ul>
      <li><a href="http://vadikom.com/about/">About Vadikom</a></li>
      <li><a href="http://vadikom.com/projects/">Projects</a>
        <ul>
          <li><a href="http://www.smartmenus.org/vadikom/products/free-scripts/">Free scripts</a></li>
        </ul>
      </li>
      <li><a href="http://vadikom.com/services/">Services</a></li>
      <li><a href="http://www.smartmenus.org/vadikom/privacy/">Privacy policy</a></li>
    </ul>
  </li>
  <li><a href="#">Sub test</a>
    <ul>
      <li><a class="NOLINK">Dummy item</a></li>
      <li><a class="NOLINK">Dummy item</a></li>
      <li><a class="NOLINK">Longer dummy item</a>
        <ul>
          <li><a class="NOLINK">Test test test</a></li>
          <li><a class="NOLINK">Sub test</a>
            <ul>
              <li><a class="NOLINK">A pretty long text to force the MaxWidth setting of 300 pixels for the sub menus</a></li>
              <li><a class="NOLINK">Test test test test test test test test</a></li>
              <li><a class="NOLINK">Test test test test test test test test</a></li>
              <li><a class="NOLINK">Another sub level</a>
                <ul>
                  <li><a class="NOLINK">Another dummy item</a></li>
                  <li><a class="NOLINK">Another dummy item</a></li>
                  <li><a class="NOLINK">Another dummy item</a></li>
                  <li><a class="NOLINK">Another sub level</a>
                    <ul>
                      <li><a class="NOLINK">MinWidth</a></li>
                      <li><a class="NOLINK">of</a></li>
                      <li><a class="NOLINK">100 pixels</a></li>
                      <li><a class="NOLINK">forced.</a></li>
                    </ul>
                  </li>
                  <li><a class="NOLINK">Another dummy item</a></li>
                  <li><a class="NOLINK">Another dummy item</a></li>
                </ul>
              </li>
              <li><a class="NOLINK">Test test test test test test test test</a></li>
              <li><a class="NOLINK">Test test test test test test test test</a></li>
            </ul>
          </li>
          <li><a class="NOLINK">Test test test</a></li>
          <li><a class="NOLINK NOROLL">NOROLL item</a></li>
        </ul>
      </li>
      <li><a class="NOLINK">Dummy item</a></li>
    </ul>
  </li>
  <li class="NOSEPARATOR"><a href="http://www.smartmenus.org/contact/">Contact</a></li>
</ul>
<!-- Please leave at least one new line or white space symbol after the closing </ul>
     tag of the root ul element of the menu tree. This will allow the browsers to init
     the menu tree as soon as it is loaded and not wait for the page load event. -->




<!-- =============================================================================== -->
<!-- ================= YOU DO NOT NEED ANYTHING BELOW THIS COMMENT ================= -->
<!-- =============================================================================== -->